.DisplayElements {
    display: flex;
    overflow: hidden;
    height: 120px;
    width: 100%;
    color: var(--ifm-color-primary);
    text-decoration: none;
    border-radius: var(--custom-border-radius);
    align-items: center;
    border: 1px solid rgba(226, 226, 226, 0.5);
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.DisplayElements:hover {
    text-decoration: none;
    border: 1px solid var(--ifm-color-primary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.DisplayElements .icon {
    margin: 19px;
    width: 80px;
    height: 80px;
    border-radius: var(--custom-border-radius);
}

.Text {
    padding: 10px;
}

.Text h3 {
    margin-top: 7px;
    margin-bottom: 0px;
}
