.tabList {
  margin-bottom: var(--ifm-leading);
}

.tabItem {
  margin-top: 0 !important;
  color: var(--docSearch-Lnk-color);
}


.tabs__item--active {
    color: var(--ifm-color-primary-dark);
    border-bottom-color: var(--ifm-color-primary-dark);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


